.icon {
  fill: var(--iconFill);

  &--isSize {
    &Small {
      width: var(--iconSizeSmall);
      height: var(--iconSizeSmall);
    }

    &Medium {
      width: var(--iconSizeMedium);
      height: var(--iconSizeMedium);
    }

    &Large {
      width: var(--iconSizeLarge);
      height: var(--iconSizeLarge);
    }
  }
}